@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
html{
    height: 100%;
}
body{
    font-family: 'Glory', sans-serif;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}
#quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    background-color: white;
    border-radius: 30px;
}
#question{
    display: flex;
    width: 30vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}
#answer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    width: 40vh;
}
.answer{
    height: 20px;
    width: 20px;
    margin: 30px;
    word-wrap: break-word;
    word-break: break-all;
}
.button{
    width: 100%;
    height: 15vh;
    margin-top: 20px;
}

button{
    background-color: rgb(126, 126, 255);
    width: 100%;
    height: 15vh;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0px;
    font-size: 1.8rem;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
button:hover{
    background-color: rgb(101, 101, 255);

}
button:active{
    background-color: rgb(78, 78, 253);

}
.answer{
    size: 10px;
}